/* Matrix */
.eb-section-effect-matrix {
    position: relative;
    overflow: hidden;
}

.eb-section-effect-matrix canvas.eb-matrix-canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.eb-section-effect-matrix > *:not(canvas):not(.section-debug) {
    position: relative;
    z-index: 2;
}