.eb-image-effect-ghost-var {
    --eb-image-effect-duration: 2000ms;
    --eb-image-effect-timing: ease-in-out;
    --eb-image-effect-delay: 0s;
    --eb-ghost-opacity: 0.2;
    --eb-ghost-blur: 4px;
}

.eb-image-effect-ghost{
    transition: filter var(--eb-image-effect-duration, 2000ms) var(--eb-image-effect-timing, ease-in-out) var(--eb-image-effect-delay, 0s);
}

.eb-image-effect-ghost:hover{
    animation : eb_ghost_keyframes var(--eb-image-effect-duration, 300ms) var(--eb-image-effect-timing, ease-in-out) infinite;
}

@keyframes eb_ghost_keyframes{
    0% { opacity: 1; filter: blur(0px); }
    50% { opacity: var(--eb-ghost-opacity, 0.2); filter: blur(var(--eb-ghost-blur, 4px)) brightness(2);}
    100% { opacity: 1; filter: blur(0px); }
}
